@import "../vars.scss";
.catalog-card {
    padding-top: 41px;
    position: relative;
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: calc(100% - 10px);
        height: calc(100% + 2px);
        transform: skewX(-5deg);
        border: 1px solid $primary;
        left: 6px;
        top: 20px;
        border-radius: 5px;
        opacity: 0;
        transition: all .225s;
    }
    &__top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 357px;
        padding: 0 13px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__bottom {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 316px 13px 25px;
    }
    &__title {
        margin-top: 5px;
        display: flex;
        align-items: flex-end;
        img {
            margin-right: 7px;
        }
        &-text {
            font-size: 20px;
            line-height: 120%;
            font-weight: 700;
            padding-bottom: 5px;
            span {
                color: $primary;
            }
        }
    }
    &__desc {
        font-size: 15px;
        line-height: 1.2;
        margin-top: 32px;
    }
    &__price {
        font-size: 30px;
        font-weight: 700;
        margin-top: 28px;
        text-align: center;
    }
    &__buttons {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__calc {
        flex-shrink: 0;
    }
    &__btn {
        color: $black;
        height: 53px;
        flex-grow: 1;
        margin-left: 24px;
    }
}

.news-card {
    position: relative;
    &:hover {
        .news-card {
            &__img {
                &::before {
                    opacity: 1;
                }
            }
            &__title {
                color: $primary;
            }
        }
    }
    &__img {
        height: 257px;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: calc(100% + 0px);
            height: calc(100% - 10px);
            transform: skewX(-4deg);
            border: 1px solid $primary;
            left: -2px;
            bottom: -8px;
            border-radius: 5px;
            opacity: 0;
            transition: all .225s;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: 2;
        }
    }
    &__title {
        font-size: 20px;
        line-height: 1.2;
        margin-top: 22px;
    }
    &__date {
        font-size: 16px;
        font-weight: 400;
        color: #474747;
        margin-top: 10px;
    }
}

.feeadback-card {
    background-color: #ffffff;
    box-shadow: 0px 6px 4px 1px rgba(0, 0, 0, 0.18);
    &__img {
        height: 210px;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
        }
    }
    &__bottom {
        padding: 17px 35px;
    }
    &__title {
        font-size: 22px;
        line-height: 1.2;
        font-weight: 500;
    }
    &__prof {
        font-size: 18px;
    }
    &__desc {
        font-size: 18px;
        line-height: 1.2;
        margin-top: 20px;
        position: relative;
        word-wrap: break-word;
        &::after,
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            font-size: 36.6px;
            color: $primary
        }
        &::after {
            content: "»";
            left: 100%;
            // margin-left: 8px;
        }
        &::before {
            content: "«";
            right: 100%;
            margin-right: 8px;
        }
    }
    &__btn {
        width: 226px;
        height: 53px;
        margin: 20px auto 0;
        color: $black;
    }
}

@media screen and (max-width: 1280px) {
    .news-card {
        &__img {
            height: 200px;
        }
    }
}

@media screen and (max-width: 900px) {
    .feeadback-card {
        &__img {
            height: 340px;
        }
    }
}

@media screen and (max-width: 800px) {
    .catalog-card {
        &::before {
            display: none;
        }
        &__top {
            img {
                width: auto;
                margin: 0 auto;
            }
        }
        &__title {
            &-text {
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .news-card {
        &__img {
            height: 350px;
        }
    }
    .feeadback-card {
        &__img {
            height: 250px;
        }
        &__bottom {
            padding: 15px;
        }
        &__desc {
            padding: 0 7px;
            &::before {
                margin-right: -5px;
            }
            &::after {
                margin-left: -5px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .catalog-card {
        &__top {
            img {
                width: 100%;
            }
        }
        &__title {
            &-text {
                padding: 0;
            }
        }
        &__buttons {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__btn {
            width: 100%;
            margin: 15px 0 0;
        }
    }
    .news-card {
        &__img {
            height: 300px;
        }
    }
    .feeadback-card {
        &__img {
            height: 200px;
        }
        &__title {
            font-size: 18px;
        }
        &__prof {
            font-size: 16px;
        }
        &__desc {
            font-size: 16px;
        }
        &__btn {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 370px) {
    .catalog-card {
        &__top {
            height: 280px;
            img {
                width: 100%;
            }
        }
        &__bottom {
            padding-top: 250px;
        }
    }
    .news-card {
        &__img {
            height: 250px;
        }
    }
}

@media screen and (max-width: 340px) {
    .news-card {
        &__img {
            height: 200px;
        }
    }
}