<div class="feeadback-card__img">
    <img src="img/feeadback.webp" alt="">
</div>
<div class="feeadback-card__bottom">
    <div class="feeadback-card__title">Иванов Алексей Викторович</div>
    <div class="feeadback-card__prof">Тренер по триатлону.</div>
    <div class="feeadback-card__desc">Спортсмены следят за новинками для спорта и очень важно иметь инновационную портативную технологию для тренировок...</div>
    <a href="" class="feeadback-card__btn btn btn-blue-outline">Читать весь отзыв</a>
</div>