@import 'header';
@import 'footer';
@import 'sidebar';
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    @media screen and (max-width: 1480px) {
        padding-left: 87px;
    }
    @media screen and (max-width: 992px) {
        padding: 0 0 80px;
    }
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 30px;
    @media screen and (max-width: 992px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 576px) {
        padding: 0 10px;
    }
}