<footer class='footer'>
    <div class='container'>
        <div class='footer__top'>
            <a href="" class="footer__logo">
                <img src="img/logo.png" alt="">
            </a>

            <div class="footer__info">
                <div class="footer__address">
                    <span class="footer__address-icon">
                        <img src="img/address.png" alt="">
                    </span>
                    <span>Пн-Пт с 10:00-19:00</span>
                </div>
                <div class="footer__time">
                    <span class="footer__time-icon">
                        <img src="img/time.png" alt="">
                    </span>
                    <span>Пн-Пт с 10:00-19:00</span>
                </div>
            </div>

            <div class="footer__contacts">
                <a href="tel:+74872000000" class="footer__phone">
                    <span class="footer__phone-icon">
                        <img src="img/phone.png" alt="">
                    </span>
                    <span>+7 4872 00 00 00</span>
                </a>
                <a href="mailto:info@mail.ru" class="footer__email">
                    <span class="footer__email-icon">
                        <img src="img/email.png" alt="">
                    </span>
                    <span>info@mail.ru</span>
                </a>
            </div>

            <div class="footer__by">
                <span class="footer__by-icon">
                    <img src="img/by.png" alt="">
                </span>
                <div class="footer__by-content">
                    Разработка корпоративного сайта
                    <a href="">интернет-агентство BREVIS</a>
                </div>
            </div>
        </div>

        <nav class="footer-nav">
            <a href="" class="footer-nav__link">На главную</a>
            <a href="" class="footer-nav__link nav__link--active">Каталог тренажеров</a>
            <a href="" class="footer-nav__link">Аксессуары</a>
            <a href="" class="footer-nav__link">О тренажерах</a>
            <a href="" class="footer-nav__link">Инструкции</a>
            <a href="" class="footer-nav__link">Новости и события</a>
            <a href="" class="footer-nav__link">Вопрос - Ответ</a>
            <a href="" class="footer-nav__link">Наши контакты</a>
        </nav>

        <a href="" class="footer__conf">Политика обработки персональных данных</a>
    </div>
</footer>

<button class="scroll-up btn btn-red">
    <img src="img/arrow_top.png" alt="">
</button>