<header class='header'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo">
                <img src="img/logo.png" alt="">
            </a>
            <div class="header__mob">
                <div class="header__info">
                    Дыхательные тренажеры для высотных тренировок
                </div>

                <nav class="nav">
                    <div class="container">
                        <ul class="nav__wrap">
                            <li class="nav__item">
                                <a href="" class="nav__link">На главную</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link nav__link--active">Каталог тренажеров</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link">Аксессуары</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link">О тренажерах</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link">Инструкции</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link">Новости и события</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link">Вопрос - Ответ</a>
                            </li>
                            <li class="nav__item">
                                <a href="" class="nav__link">Наши контакты</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div class="header__delivery">
                    <span class="header__delivery-icon">
                        <img src="img/delivery.png" alt="">
                    </span>
                    <span>Доставка по всей России</span>
                </div>

                <div class="header__contacts">
                    <div class="header__address">
                        <span class="header__address-icon">
                            <img src="img/time.png" alt="">
                        </span>
                        <span>Пн-Пт с 10:00-19:00</span>
                    </div>
                    <a href="mailto:info@mail.ru" class="header__email">
                        <span class="header__email-icon">
                            <img src="img/email.png" alt="">
                        </span>
                        <span>info@mail.ru</span>
                    </a>
                </div>

                <div class="header__phone">
                    <a href="tel:+74872000000" class="header__phone-link">
                        <img src="img/phone.png" alt="">
                        <span>+7 4872 00 00 00</span>
                    </a>
                    <button class="header__phone-btn">Бесплатная консультация</button>
                </div>
            </div>
            <button class="header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header>