<div id="modal1" class="popup">
    <img src="img/arrow5.png" alt="" class="popup__arrow">
    <button class="popup__close">
        <img src="img/close.png" alt="">
    </button>
    <div class="popup__wrap">
        <div class="popup__inner">
            <div class="popup__title display2">
                ОСТАВИТЬ <span>ЗАЯВКУ</span>
            </div>
            <form action="" class="popup__form">
                <fieldset class='popup__form-group form-group'>
                    <label>Ваше имя</label>
                    <input type='text' placeholder="Имя" />
                </fieldset>
                <fieldset class='popup__form-group form-group'>
                    <label>Ваш номер телефона</label>
                    <input type='tel' placeholder="+7 (___) ___-__-__" />
                </fieldset>
                <button class="popup__btn btn btn-blue-outline">Отправить</button>
            </form>
        </div>
    </div>
</div>

<!-- <div class="popup-backdrop"></div> -->