<div class="sidebar">
    <div class="sidebar__search">
        <button class="sidebar__search-btn">
            <img src="img/search.png" alt="">
        </button>
    </div>
    <div class="sidebar__img">
        <img src="img/logo2.png" alt="">
    </div>

    <div class="sidebar__socials">
        <a href="" class="sidebar__socials-item">
            <img src="img/vk.png" alt="">
        </a>
        <a href="" class="sidebar__socials-item">
            <img src="img/ok.png" alt="">
        </a>
        <a href="" class="sidebar__socials-item">
            <img src="img/youtube.png" alt="">
        </a>
    </div>

    <div class="sidebar__consult">
        <button data-modal="modal1" class="sidebar__btn btn btn-blue-outline">
            <span>
                <strong>Бесплатная</strong>
                 консультация</span>
        </button>

    </div>
</div>

<button class="sidebar__cart btn">
    <img src="img/cart.png" alt="">
</button>