@import 'vars';
html {
    width: 100%;
}

body {
    font-family: $font2;
    font-weight: 400;
    color: $black;
    background: #222931;
    &.fixed-body {
        overflow-y: hidden;
    }
}

a {
    &:hover {
        color: $primary;
    }
}